.homePageWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
}

.formPageWrapper{
  background-color: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

footer{
  position: fixed;
  bottom: 0;

}

footer a{
  color: #4aee88;
}

.inputCred{
  display: flex;
  flex-direction: column;
}

.info{
  margin-bottom: 20px;
  margin-top: 0;
}

.logo{
  height: 80px;
  margin-bottom: 30px;
}

.inputBox{
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn{
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.joinBtn{
  background: #4aee88;
  width: 100px;
  margin-left: auto;

}

.joinBtn:hover{
  background: #2b824c;
}

.info{
  margin: 0 auto;  
  margin-top: 20px;
}

.createNewRoom{
  color: #4aee88;
  text-decoration: none;
  border-bottom: 1px solid #4aee88;
  transition: all .3s ease-in-out;
}

.createNewRoom:hover,
footer a:hover{
  border-color: #368654;
  color: #368654;
}